<%- include('../partials/header.ejs') %>
<%- include('../partials/navigation.ejs') %>

<h1><%= title %></h1>

<h2>Пример обработки POST-запроса</h2>

<form action="/items/message" method="post">
    <input name="message" type="text" placeholder="Введите сообщение" />
    <button type="submit">Отправить</button>
</form>

<br />

<% for (let i = 0; i < items.length; i++) { %>

    <div class="section">
        <a href="/items/<%= items[i].id %>/show">
            <h2 class="section__title"><%= items[i].title %></h2>
            <img class="section__image" src="img/<%= items[i].image %>">
        </a>
    </div>

<% } %>

<%- include('../partials/footer.ejs') %>
