<%- include('../partials/header.ejs') %>
<%- include('../partials/navigation.ejs') %>

<h1><%= title %></h1>

<%- include('partials/create-location.ejs') %>

<br />

<% for (let i = 0; i < items.length; i++) { %>

    <div class="section">
        <h2 class="section__title"><%= items[i].title %></h2>
        <p class="section__description"><%= items[i].description %></p>
    </div>

<% } %>

<%- include('../partials/footer.ejs') %>
